Source: python-hello-world
Section: pythonn
Priority: optional
Maintainer: Alexander Grothe <seahawk1986@gmx.de>
Build-Depends: debhelper (>= 8.0.0), dh-python, python3-setuptools, python3-all
Standards-Version: 3.9.4
X-Python3-Version: >= 3.2

Package: python-hello-world
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
