Source: python-hello-world
Section: pythonn
Priority: optional
Maintainer: Alexander Grothe <seahawk1986@gmx.de>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: python-dbus2vdr
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
